<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
'<div class="comment-body-inner" style="background-color:black;color:white;padding:20px;">' +
    '<div class="row" >' +
        '<div class="col-sm-2" for="text"></div>' +
        '<div class="col-sm-8" id="comment-top">' +
            '<div class="row" >' +
                '<div class="col-sm-8" >' +
                    '<!-- avatar -->' +
                    '<div class="post-avatar">' +
                        avatar
                    '</div>' +
                    '<!-- name -->' +
                    '<div class="post-name-date">' +
                        date
                    '</div>' +
                '</div>' +
                '<!-- edit -->' +
                '<div class="col-sm-4" >' +
                    '<div class="post-edit" >' +
                        delete
                    '</div>' +
                '</div>' +
            '</div>' +
        '</div>' +
    '</div>' +
    '<!-- body -->' +
    '<div class="row" >' +
        '<div class="rounded-sm" id="comment-body-inner">' +
            result.text
        '</div>' +
    '</div>' +
'</div>'

</body>
</html>