<!DOCTYPE html>
<html  lang="en"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<head th:replace="main/layout :: header"></head>
<body>
<nav th:replace="main/layout :: navbar"></nav>
<!---->
<div th:fragment="comment" class="row">
    <div class="col-sm-4">
    </div>
    <!-- -->
    <div class="col-sm-8">
        <div class="modal fade" id="add-comment" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">comment</h4>
                    </div>
                    <!-- Modal body-->
                    <div th:if="${message}">
                        your message: <span th:text="${message}"></span>
                    </div>
                    <div >
                        <div class="modal-body">
                            <form class="form-horizontal" th:action="@{/api/comment/save}" th:object="${comment}" method="POST">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="text"></label>
                                    <div class="col-sm-8" >
                                        <!--                                            <input type="text" class="form-control" id="text" placeholder="Enter a comment" th:field="*{text}">-->
                                        <textarea class="form-control" rows="2" type="text" id="text" placeholder="Enter a comment" th:field="*{text}"></textarea>
                                        <!--                            <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}" class="error">Name Error</span>-->
                                    </div>
                                    <label class="control-label col-sm-2" for="text"></label>

                                    <span class="col-sm-10" sec:authorize="isAuthenticated()">
                                            <input type="hidden" name="user" id="user" th:value="${userId}"/>
                                            <input type="hidden" name="post" id="post" th:value="${postId}"/>
                                            <input type="hidden" name="_csrf" id="_csrf" th:value="${_csrf.token}"/>
                                        </span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="text"></label>
                                    <div class="col-sm-4" >
                                        <button type="submit"class="btn btn-info btn-sm" style="width:100%">reply</button>
                                    </div>
                                    <label class="control-label col-sm-4" for="text"></label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Modal footer-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>
<!---->
<div th:replace="main/layout :: footer"></div>
</body>
</html>